# Static Crawler

In [1]:
import requests as rq

url = 'https://quotes.toscrape.com'
quote = rq.get(url)
print(quote)

<Response [200]>

In [2]:
from bs4 import BeautifulSoup

quote_html = BeautifulSoup(quote.content, 'lxml')
quote_html.head()

[<meta charset="utf-8"/>,
 <title>Quotes to Scrape</title>,
 <link href="/static/bootstrap.min.css" rel="stylesheet"/>,
 <link href="/static/main.css" rel="stylesheet"/>]

In [3]:
quote_div = quote_html.find_all('div', class_='quote')
[div.find_all('span', class_='text')[0].text for div in quote_div]

['“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”',
 '“It is our choices, Harry, that show what we truly are, far more than our abilities.”',
 '“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”',
 '“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”',
 "“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”",
 '“Try not to become a man of success. Rather become a man of value.”',
 '“It is better to be hated for what you are than to be loved for what you are not.”',
 "“I have not failed. I've just found 10,000 ways that won't work.”",
 "“A woman is like a tea bag; you never know how strong it is until it's in hot water.”",
 '“A day without sunshine is like, you know, night.”']

In [4]:
quote_text = quote_html.select('div.quote > span.text')
[text.text for text in quote_text]

['“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”',
 '“It is our choices, Harry, that show what we truly are, far more than our abilities.”',
 '“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”',
 '“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”',
 "“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”",
 '“Try not to become a man of success. Rather become a man of value.”',
 '“It is better to be hated for what you are than to be loved for what you are not.”',
 "“I have not failed. I've just found 10,000 ways that won't work.”",
 "“A woman is like a tea bag; you never know how strong it is until it's in hot water.”",
 '“A day without sunshine is like, you know, night.”']

In [5]:
quote_author = quote_html.select('div.quote > span > small.author')
[author.text for author in quote_author]

['Albert Einstein',
 'J.K. Rowling',
 'Albert Einstein',
 'Jane Austen',
 'Marilyn Monroe',
 'Albert Einstein',
 'André Gide',
 'Thomas A. Edison',
 'Eleanor Roosevelt',
 'Steve Martin']

In [6]:
quote_link = quote_html.select('div.quote > span > a')
['https://quotes.toscrape.com' + link['href'] for link in quote_link]

['https://quotes.toscrape.com/author/Albert-Einstein',
 'https://quotes.toscrape.com/author/J-K-Rowling',
 'https://quotes.toscrape.com/author/Albert-Einstein',
 'https://quotes.toscrape.com/author/Jane-Austen',
 'https://quotes.toscrape.com/author/Marilyn-Monroe',
 'https://quotes.toscrape.com/author/Albert-Einstein',
 'https://quotes.toscrape.com/author/Andre-Gide',
 'https://quotes.toscrape.com/author/Thomas-A-Edison',
 'https://quotes.toscrape.com/author/Eleanor-Roosevelt',
 'https://quotes.toscrape.com/author/Steve-Martin']

In [7]:
url2 = 'https://finance.naver.com/news/news_list.nhn?mode=LSS2D&section_id=101&section_id2=258'
data = rq.get(url2)
html = BeautifulSoup(data.content, 'lxml')
html_select = html.select('dl > dd.articleSubject > a')
[select['title'] for select in html_select]

['빅테크 실적 기대, 미증시 일제 상승…나스닥 1.59%(상보)',
 "하이브 실적 키운 '멀티레이블'…독립경영 아닌 '독립전쟁' 불씨",
 '[속보] 실적 기대, 미증시 일제 상승…나스닥 1.59%↑',
 '[속보] 실적 발표 앞둔 테슬라 정규장은 1.80% 상승 마감',
 '포스코, 2030년 실리콘음극재 연산 2.5만톤 생산체제 구축',
 "'잡음' 커지는 하이브…이틀새 시총 '-8500억'",
 "'민희진의 난' 집안싸움에 9% 폭락한 하이브, 주가 어디로…",
 '애플 "다음 달 7일 이벤트"…아이패드 신제품 출시 전망',
 '[마켓인]아워홈·한미약품도 실패…좌초된 라데팡스파트너스의 꿈',
 '美제조업 둔화로 금리인하 기대, 국제유가 2% 급등',
 "하이브 사태 성지글..민희진, 뉴진스 음원도 작곡가보단 '내 덕'?",
 "트럼프, '트루스 소셜' 주식 3600만주 보너스 받아…1조6000억 상당",
 '[주식 매매 상위 종목 및 환율] 2024년 4월 23일자',
 '[주요경제지표] 2024년 4월 23일자',
 '테슬라 실적 발표 앞두고 주가 장중 3%↑…머스크 입에 쏠린 눈',
 '"美 하원의장 좋은 사람" 트럼프, 우크라 예산 통과시킨 존슨 감싸기',
 '美 4월 제조업 PMI 49.9로 넉 달 만에 위축…"성장 모멘텀 둔화"']

In [8]:
import pandas as pd

url3 = 'https://en.wikipedia.org/wiki/List_of_countries_by_stock_market_capitalization'
tbl = pd.read_html(url3)
tbl[0]

,Country / Territory,Total market cap (in mil. US$)[2],Total market cap (% of GDP)[3],Number of domestic companies listed[4],Year
0,United States,49653000,194.5,4266,2023
1,China,"10,889,318[5]",65.1[6],4154,2023
2,Japan,"5,474,985[7]",126.7[8],3754,2023
3,India,"4,782,845[9]",120,5372,2024
4,Hong Kong,"3,966,952[10]","1,262.6[11]",2353,2023
...,...,...,...,...,...
97,Algeria,371,0.2,...,2018
98,Paraguay,313,3.5,55,1999
99,Uruguay,284,1.4,17,1996
100,Eswatini,234,6.8,6,2007
101,Bermuda,220,39.6,13,2020

In [9]:
url4 = 'https://kind.krx.co.kr/disclosure/todaydisclosure.do'
payload = {
    'method': 'searchTodayDisclosureSub',
    'currentPageSize': '15',
    'pageIndex': '1',
    'orderMode': '0',
    'orderStat': 'D',
    'forward': 'todaydisclosure_sub',
    'chose': 'S',
    'todayFlag': 'N',
    'selDate': '2024-04-23'
}

data = rq.post(url4, data=payload)
html = BeautifulSoup(data.content, 'html.parser')
pd.read_html(html.prettify())[0]

/tmp/ipykernel_14911/371372150.py:16: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_html(html.prettify())[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,19:20,포인트모바일,소속부변경,코스닥시장본부,공시차트 주가차트
1,19:14,세토피아,주권매매거래정지기간변경(개선기간 부여),코스닥시장본부,공시차트 주가차트
2,19:14,세토피아,기타시장안내(상장폐지 관련 이의신청서 접수 및 개선기간 부여),코스닥시장본부,공시차트 주가차트
3,19:09,포인트모바일,기준가산정 등에 관한 안내(장기간매매정지),코스닥시장본부,공시차트 주가차트
4,19:08,포인트모바일,관리종목 해제(상장유지 결정),코스닥시장본부,공시차트 주가차트
5,19:08,포인트모바일,주권매매거래정지해제(상장유지 결정),코스닥시장본부,공시차트 주가차트
6,18:08,NaN,자기주식매매신청내역(코스닥시장),코스닥시장본부,NaN
7,18:08,NaN,직전1개월 일평균대비 거래량 증가율 상위 10종목(코스닥시장),코스닥시장본부,NaN
8,18:07,NaN,일중 변동성 상위 10종목(코스닥시장),코스닥시장본부,NaN
9,18:07,NaN,일일회전율상위20종목(코스닥시장),코스닥시장본부,NaN
10,18:07,플래스크,불성실공시법인지정예고(공시번복 4건),코스닥시장본부,공시차트 주가차트
11,18:07,NaN,대량매매내역(코스닥시장),코스닥시장본부,NaN
12,18:07,NaN,최근 20일중 최저(최고)가 대비 상승(하락)율 상위 10종목(코스닥시장),코스닥시장본부,NaN
13,18:07,NaN,자기주식매매체결내역(코스닥시장),코스닥시장본부,NaN
14,18:06,NaN,자기주식매매 신청내역(유가증권시장),유가증권시장본부,NaN

# Dynamic Crawler

In [26]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
from bs4 import BeautifulSoup

driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [100]:
url = 'https://www.naver.com/'
driver.get(url)
driver.page_source[:1000]

'<html lang="ko" class="fzoom" data-dark="false"><head><script async="" src="https://ntm.pstatic.net/ex/nlog.js"></script><script async="" src="https://ntm.pstatic.net/scripts/ntm_27291e35193e.js"></script><script async="" type="text/javascript" src="https://ssl.pstatic.net/tveta/libs/ndpsdk/prod/ndp-core.js"></script> <meta charset="utf-8"> <meta name="Referrer" content="origin"> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <meta name="viewport" content="width=1190"> <title>NAVER</title> <meta name="apple-mobile-web-app-title" content="NAVER"> <meta name="robots" content="index,nofollow"> <meta name="description" content="네이버 메인에서 다양한 정보와 유용한 컨텐츠를 만나 보세요"> <meta property="og:title" content="네이버"> <meta property="og:url" content="https://www.naver.com/"> <meta property="og:image" content="https://s.pstatic.net/static/www/mobile/edit/2016/0705/mobile_212852414260.png"> <meta property="og:description" content="네이버 메인에서 다양한 정보와 유용한 컨텐츠를 만나 보세요"> <meta name="twitter:card" content="'

In [101]:
driver.find_element(By.LINK_TEXT, value='뉴스').click()

In [102]:
driver.switch_to.window(driver.window_handles[1])
driver.close()

In [103]:
driver.switch_to.window(driver.window_handles[0])
driver.find_element(By.CLASS_NAME, value='search_input').send_keys('퀀트')

In [104]:
driver.find_element(By.CLASS_NAME, value='btn_search').send_keys(Keys.ENTER)

In [105]:
driver.find_element(By.ID, value='nx_query').clear()
driver.find_element(By.ID, value='nx_query').send_keys('퀀트 투자 KAIST')
driver.find_element(By.CLASS_NAME, value='bt_search').click()

In [106]:
driver.find_element(By.XPATH, value='//*[@id="lnb"]/div[1]/div/div[1]/div/div[1]/div[1]/a').click()
driver.find_element(By.XPATH, value='//*[@id="snb"]/div[1]/div/div[2]/a').click()
driver.find_element(By.XPATH, value='//*[@id="snb"]/div[2]/ul/li[1]/div/div/a[2]').click()

In [107]:
driver.execute_script('window.scrollTo(0, document.body.scrollHeight);')

In [108]:
driver.find_element(By.TAG_NAME, value='body').send_keys(Keys.PAGE_UP)

In [109]:
driver.find_element(By.TAG_NAME, value='body').send_keys(Keys.PAGE_DOWN)

In [111]:
prev_height = driver.execute_script('return document.body.scrollHeight')

while True:
    driver.execute_script('window.scrollTo(0, document.body.scrollHeight);')
    time.sleep(2)

    cur_height = driver.execute_script('return document.body.scrollHeight')
    if cur_height == prev_height:
        break
    prev_height = cur_height

In [113]:
html = BeautifulSoup(driver.page_source, 'lxml')
txt = html.find_all(class_ = 'title_link')
txt_list = [txt_item.get_text() for txt_item in txt]
txt_list[:10]

['2024년 4월 24일 오전장 테마동향',
 '투자전문가인가..',
 '수학과 관련직업 종류 전망 취업 공부 대학 순위',
 '빌리 월터스 겜블러 블랙잭 라스베이거스 필메켈슨 스포츠베팅 카지노',
 '리더를 위한 뉴브리핑 : 기술변화 총편 (240415)',
 '[주식투자 경제뉴스] 4월 11일 목요일 오늘의 주요 헤드라인 뉴스',
 '2024년 3월 KAIST M&N 후기',
 '[주식투자 경제뉴스] 4월 5일 금요일 오늘의 주요 헤드라인 뉴스',
 '[주식투자 경제뉴스] 4월 4일 목요일 오늘의 주요 헤드라인 뉴스',
 '[주식투자 경제뉴스] 3월 28일 목요일 오늘의 주요 헤드라인 뉴스']

In [115]:
driver.quit()

# Regex

In [123]:
import re

p = re.compile('[a-z]+')
type(p)

re.Pattern

In [129]:
m = p.match('python')
print(m)

<re.Match object; span=(0, 6), match='python'>

In [130]:
m.group()

'python'

In [131]:
m = p.match('Use python')
print(m)

None

In [133]:
m = p.match('PYTHON')
print(m)

None

In [135]:
p = re.compile('[가-힣]+')
m = p.match('파이썬')
print(m)

<re.Match object; span=(0, 3), match='파이썬'>

In [137]:
p = re.compile('[a-z]+')
m = p.search('python')
print(m)

<re.Match object; span=(0, 6), match='python'>

In [138]:
m = p.search('Use python')
print(m)

<re.Match object; span=(1, 3), match='se'>

In [139]:
p = re.compile('[a-zA-Z]+')
m = p.findall('Life is too short, You need Python.')
print(m)

['Life', 'is', 'too', 'short', 'You', 'need', 'Python']

In [140]:
p = re.compile('[a-zA-Z]+')
m = p.finditer('Life is too short, You need Python.')
print(m)

<callable_iterator object at 0x7f71f2319ff0>

In [142]:
for i in m:
    print(i)

<re.Match object; span=(0, 4), match='Life'>
<re.Match object; span=(5, 7), match='is'>
<re.Match object; span=(8, 11), match='too'>
<re.Match object; span=(12, 17), match='short'>
<re.Match object; span=(19, 22), match='You'>
<re.Match object; span=(23, 27), match='need'>
<re.Match object; span=(28, 34), match='Python'>

In [144]:
num = """r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\t15\r\n\t\t\t\t\t\t\t\t23\r\n\t\t\t\t\t\t\t\t29\r\n\t\t\t\t\t\t\t\t34\r\n\t\t\t\t\t\t\t\t40\r\n\t\t\t\t\t\t\t\t44\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t"""

p = re.compile('[0-9]+')
m = p.findall(num)
print(m)

['15', '23', '29', '34', '40', '44']

In [149]:
dt = '> 오늘의 날짜는 2022.12.31 입니다.'

p = re.compile('[0-9]+.[0-9]+.[0-9]+')
p.findall(dt)

['2022.12.31']

In [150]:
p = re.compile('[0-9]+')
m = p.findall(dt)
print(m)

['2022', '12', '31']

In [151]:
''.join(m)

'20221231'